@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* or 5rem */      
}
/* index.css or global.css */
.bg-gradient-beige {
    background: linear-gradient(to bottom, tan, #f7f3e9, #f2e8dc);
  }
/* Allow hover styles to work on mobile via group-hover fallback */
@media (hover: none) {
    .group:hover .group-hover\:block {
      display: block !important;
    }
  }
    